<ons-page id="menuPage">

  <ons-list-title>Hugo PISANO</ons-list-title>
  <ons-list-title>Hoang Anh NGUYEN</ons-list-title>
  <ons-list-title>Liens</ons-list-title>
  <ons-list id="links">
    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron"
                   onclick="window.open('https://bitbucket.org/%7Bdc2fd0d7-6497-43f3-a3e3-f2a709351416%7D/')"
    >
      <div class="left">
        <ons-icon icon="fa-external-link" style="color: grey;"></ons-icon>
      </div>
      <div class="center">
        Bitbucket PISANO
      </div>
    </ons-list-item>
    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron"
                   onclick="window.open('https://bitbucket.org/%7Be0e86194-9458-4ecd-a41b-a1c593a319c7%7D/')"
    >
      <div class="left">
        <ons-icon icon="fa-external-link" style="color: grey;"></ons-icon>
      </div>
      <div class="center">
        Bitbucket NGUYEN
      </div>
    </ons-list-item>
  </ons-list>


  <ons-list-title>Filtre</ons-list-title>
  <ons-list id="default-category-list">
    <ons-list-item tappable>
      <div class="left">
        <ons-radio name="categoryGroup" input-id="r-all" checked></ons-radio>
      </div>
      <label class="center" for="r-all">Toutes</label>
    </ons-list-item>
    <ons-list-item tappable category-id="">
      <div class="left">
        <ons-radio name="categoryGroup" input-id="r-no"></ons-radio>
      </div>
      <label class="center" for="r-no">Aucune catégorie</label>
    </ons-list-item>
  </ons-list>

  <ons-list-title>Catégories personnalisées</ons-list-title>
  <ons-list id="custom-category-list">
  </ons-list>
</ons-page>
