<ons-page id="detailsTaskPage">
  <ons-toolbar>
    <div class="left"><ons-back-button>Retour</ons-back-button></div>
    <div class="center">Détails des tâches</div>
    <div class="right">
      <ons-toolbar-button component="button/save-task">
        <ons-if platform="android">
          <ons-icon icon="md-save"></ons-icon>
        </ons-if>
        <ons-if platform="ios other">
          Sauvegarder
        </ons-if>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-list-title>Modifiez votre tâche</ons-list-title>
  <ons-list>
    <ons-list-item modifier="nodivider">
      <ons-if platform="ios other" class="left left-label">
        Titre
      </ons-if>
      <div class="center">
        <ons-input id="title-input" type="text" placeholder="Je veux..." float></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <ons-if platform="ios other" class="left left-label">
        Catégorie
      </ons-if>
      <div class="center">
        <ons-input id="category-input" type="text" placeholder="Catégorie" float></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <ons-if platform="ios other" class="left left-label">
        Description
      </ons-if>
      <div class="center">
        <ons-input id="description-input" type="text" placeholder="Description" float></ons-input>
      </div>
    </ons-list-item>
  </ons-list>

  <ons-list-title>Autres options</ons-list-title>
  <ons-list>
    <ons-list-item modifier="nodivider">
      <label class="center" for="inner-highlight-input">
        Surligner?
      </label>
      <div class="right">
        <ons-switch id="highlight-input" input-id="inner-highlight-input"></ons-switch>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <label class="center" for="inner-urgent-input">
        Est-ce urgent?
      </label>
      <div class="right">
        <ons-switch id="urgent-input" input-id="inner-urgent-input" disabled></ons-switch>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>
